%h1= @movie.title
.jumbotron
  = @movie.description
  .jumbotron
    - if user_signed_in? and not_commented_by_user?(current_user.id, @movie.id)
      = render 'comments/comments_form'
      %hr.my-4/
    = render 'comments/comments_table', comments: @movie.comments
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
